In [3]:
#pandas library to create a dataframe out of the csv file
import pandas as pd
import numpy as np


df = pd.read_csv("train.csv")

In [4]:
# dropping all rows with any Null values
df = df.dropna()
df = df.drop(['LastRecord','Date Deployed'], axis = 1)
df.head()

,deviceid,avg_time_charging_lag1,avg_time_charging_lag2,avg_time_charging_lag3,avg_time_charging_lag7,charging_rate_lag3,charging_rate_lag7,avg_time_discharging_lag1,avg_time_discharging_lag2,avg_time_discharging_lag3,...,total_off_time,number_times_restart,avg_volt_change_charging,avg_volt_change_discharging,avg_time_charging,avg_time_discharging,max_voltage_day,piececount,cycle_time,Day_Deployed
2,16107,5.51,5.04,4.52,5.96,-0.460000,-0.083333,5.13,5.65,4.14,...,2.333333,4.095238,346.113333,343.409524,13.675238,20.471429,4152.238095,19.200000,34.146667,518
3,27362,4.66,39.85,35.76,40.69,0.076667,-0.006667,3.93,76.37,60.86,...,10.789474,0.736842,356.184211,349.844737,16.306842,26.189474,4164.631579,23.625000,42.496316,548
4,19463,5.10,43.24,4.63,5.26,0.040000,-0.153333,4.69,71.44,3.80,...,14.266667,1.133333,370.904000,367.730000,18.797333,30.812000,4169.800000,12.666667,49.609333,566
5,30054,27.74,5.12,42.39,5.46,0.076667,-0.020000,45.90,3.99,75.64,...,10.700000,2.150000,350.345500,346.747500,12.878500,19.621000,4151.600000,6.375000,32.499500,544
6,26431,4.67,5.32,23.99,4.62,0.270000,-0.010000,3.56,4.62,18.57,...,60.304348,1.956522,358.789130,353.025652,17.384783,27.495217,4170.652174,20.500000,44.880000,566

In [5]:
#checking for Null values in the dataframe
df.isnull().values.any()

False

In [6]:
#importing libraries for randomForest 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split



#seperating the features from the values we want to predict
labels = np.array(df['fail_7'])
features= df.drop(['fail_7'], axis = 1)

feature_list = list(df.columns)

features = np.array(features)

# creating a training and testing dataset
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [7]:
#printing out the training and testing dataset to see if it worked

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (25374, 53)
Training Labels Shape: (25374,)
Testing Features Shape: (8458, 53)
Testing Labels Shape: (8458,)

In [ ]:
#random forest model with 1000 trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

rf.fit(train_features, train_labels)

In [ ]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)

print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

In [ ]:
mape = 100 * (errors / test_labels)

accuracy = 100 - np.mean(mape)

print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
importances = list(rf.feature_importances_)
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

In [ ]:
import matplotlib.pyplot as plt 

plt.plot(feature_importances)